.top-bar {
  display:flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

.top-bar::after {
  content: ''; /* Pseudo-elements require the content property */
  display: block; /* Treat the pseudo-element like a block */
  position: absolute; /* Position it relative to the .top-bar */
  bottom: -10px; /* Align it to the bottom of the .top-bar */
  left: 50%; /* Start from the middle */
  width: 95%; /* Adjust to control the width of the border */
  height: 1px; /* Thickness of the border */
  background-color: #97a3b9; /* The color of the border */
  transform: translateX(-50%); /* Center the border */
}

.main-logo {
  height: 40px;
  pointer-events: none;
}

.content-container {
  margin: 0;
  padding: 0 30px;
}

.main-heading {
  font-size: 48px; /* Adjust size as needed for your design */
  font-weight: bold; /* Makes the heading text bold */
  color: #102A43; /* Dark color for text - adjust the color code based on your exact color */
  text-align: left; /* Centers the heading in the container */
  margin-bottom: 0 /* Adjust space below the heading */
}

.main-container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 1200px;
}

.subheading {
  font-size: 22px; /* Smaller than the main heading, but adjust as needed */
  color: #7d8594; /* Slightly lighter color than the main heading */
  text-align: left; /* Centers the subheading in the container */
  margin-top: 0;
  margin-bottom: 2em; /* Adjust space below the subheading */
}